.workspace {
  flex: 65%;
  border: 1px solid gray;
  width: 70%;
}

.main {
  width: 70%;
  height: 100vh;
}

.noteEdit,
.notePreview {
  height: 30vh;
}

.noActiveNote {
  /* width: 70%; */
  border: 1px solid gray;
  height: 100vh;
}
